scripts/work/*
!scripts/work/
!scripts/work/init.sh

scripts/work/shell/*
!scripts/work/shell/
!scripts/work/shell/init.sh

scripts/work/batch/*
!scripts/work/batch/
!scripts/work/batch/.gitkeep

scripts/work/shell/source
!scripts/work/shell/source/
!scripts/work/shell/source/init.sh

scripts/work/shell/source/config/*
!scripts/work/shell/source/config/
!scripts/work/shell/source/config/.gitkeep
